<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="22179RonForbes.BlockParty" Publisher="CN=697DF61F-8AAB-4396-B52C-32B294B095D2" Version="0.0.1.0" />
  <Properties>
    <DisplayName>Block Party</DisplayName>
    <PublisherDisplayName>Ron Forbes</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BlockPartyWindowsStore.App">
      <VisualElements DisplayName="Block Party" Logo="Assets/Logo.png" SmallLogo="Assets\SmallLogo.png" Description="BlockPartyWindowsStore" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" WideLogo="Assets/WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFA500" />
      </VisualElements>
    </Application>
  </Applications>
</Package>