<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="cf8fb5ed-b31f-44d2-8d73-9f2c77f12420" Publisher="CN=Ron" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BlockPartyWindowsStore</DisplayName>
    <PublisherDisplayName>Ron</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BlockPartyWindowsStore.App">
      <VisualElements DisplayName="BlockPartyWindowsStore" Logo="Assets/Logo.png" SmallLogo="Assets\SmallLogo.png" Description="BlockPartyWindowsStore" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFA500" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>